<% layout('layouts/boilerplate')%>
<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%=err.message%></h4>
            <% console.log("The err . stack - START -") %>
            <% console.log(err.stack) %>
            <% console.log("The err . stack - END - ") %>
            <!-- <p><%= err.stack %></p> -->
        </div>
    </div>
</div>