<% layout('layouts/boilerplate')%>

<body>
    <h1>Show One</h1>
    
    <ul>
        <li>
            <p> <%= post.location %> </p>
            <div>
                <img alt="altMessage" src="<%=post.url%>" >
                <p><%=post.url%></p>
            </div>
            <p> <%= post.title %> </p>
            </a>
        </li>
        
    </ul>

</body>

